///////////////////////////////////////////////////////////////
//
// ANIMATIONS
//
///////////////////////////////////////////////////////////////

@keyframes colorChange
    0%
        color: $color-red

    10%
        color: $color-orange

    20%
        color: $color-yellow

    30%
        color: $color-green-lighter

    40%
        color: $color-green

    50%
        color: $color-green-light

    60%
        color: $color-green-acqua

    70%
        color: $color-blue

    80%
        color: $color-purple

    90%
        color: $color-purple-light

    100%
        color: $color-pink-darker

@-webkit-keyframes colorChange
    0%
        color: $color-red

    10%
        color: $color-orange

    20%
        color: $color-yellow

    30%
        color: $color-green-lighter

    40%
        color: $color-green

    50%
        color: $color-green-light

    60%
        color: $color-green-acqua

    70%
        color: $color-blue

    80%
        color: $color-purple

    90%
        color: $color-purple-light

    100%
        color: $color-pink-darker
