///////////////////////////////////////////////////////////////
//
// ANIMATIONS
//
///////////////////////////////////////////////////////////////


@keyframes arrow
  0%
    transform: rotate(-45deg) translate(0, 0)

  20%
    transform: rotate(-45deg) translate(-10px, 10px)

  40%
    transform: rotate(-45deg) translate(0, 0)
