///////////////////////////////////////////////////////////////
//
// COLORS
//
///////////////////////////////////////////////////////////////

$color-white: #FFFFFF
$color-black: #424242
$color-blue: #40c4ff
$color-blue-acqua: #00B8d4
$color-blue-acqua-light: #9EF2FF
$color-gray: #9E9E9E
$color-gray-dark: #757575
$color-gray-darkest: #424242
$color-gray-light: #BDBDBD
$color-gray-lightest: #EEEEEE
$color-slate: #697788
$color-green: #00C853
$color-green-light: #1de9b6
$color-green-lightest: #AEEA00
$color-orange: #FF984B
$color-orange-light: #FFE3CE
$color-pink: #F06292
$color-pink-light: #FFCAD6
$color-pink-dark: #F83864
$color-purple: #AA00FF
$color-purple-light: #EA80FC
$color-purple-lightest: #CBB9FF
$color-purple-dark: #4527A0
$color-red: #FF5252
$color-red-light: #FF8A80
$color-red-lightest: #FFCECE
$color-yellow: #FFD600
