///////////////////////////////////////////////////////////////
//
// CONVENIENCE CLASSES
//
///////////////////////////////////////////////////////////////

.text-align
    &--left
        text-align: left
    &--center
        text-align: center
    &--right
        text-align: right

.flex
    &--40
        flex-basis: 40%
    &--50
        flex-basis: 50%
    &--60
        flex-basis: 60%

.grid
    &--2
        grid-template-columns: repeat(2, 1fr)
    &--3
        grid-template-columns: repeat(3, 1fr)
    &--4
        grid-template-columns: repeat(4, 1fr)
    &--5
        grid-template-columns: repeat(5, 1fr)
