///////////////////////////////////////////////////////////////
//
// CONVENIENCE CLASSES
//
///////////////////////////////////////////////////////////////

.text-align
    &--left
        text-align: left
    &--center
        text-align: center
    &--right
        text-align: right

.flex
    &--40
        flex-basis: 40%
    &--50
        flex-basis: 50%
    &--60
        flex-basis: 60%

.hide
    display: none
