///////////////////////////////////////////////////////////////
//
// TYPOGRAPHY - Font imports
//
///////////////////////////////////////////////////////////////

@font-face
    font-family: 'La Quince de Mayra'
    src: url('../../assets/fonts/la-quince-de-mayra.ttf') format ('ttf')
    font-weight: 400
    font-style: normal
    font-stretch: normal

@font-face
    font-family: 'La Quince de Mayra'
    src: url('../../assets/fonts/la-quince-de-mayra-bold.ttf') format ('ttf')
    font-weight: 600
    font-style: normal
    font-stretch: normal
