///////////////////////////////////////////////////////////////
//
// FOOTER
//
///////////////////////////////////////////////////////////////

.footer
    // position: fixed
    // right: 0
    // bottom: 0
    // left: 0
    display: flex
    align-items: center
    z-index: 999
    background: $color-white
    padding: 1rem
    border-top: 1px solid $color-gray-lightest

    &__left
        font-size: $font-size-micro
        font-weight: $font-weight-light
        margin-right: auto

        .fa
            color: $color-red-light

    &__right
    &__icons
    &__social
        margin: 0 .25rem

    &__link
        &:hover
            text-decoration: underline

    a
        color: $color-gray

        &:hover
            color: $color-red-light

// MEDIA QUERIES
@media (min-width: $extra-small) and (max-width: $medium)
    .footer
        display: inline-block
        text-align: center

        &__right
            display: none
