// Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.header
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    width: 100%

    &--title
        
.navigation
    &--list
    &--item
        display: inline
        margin: 0 1rem

    &--link
