///////////////////////////////////////////////////////////////
//
// HEADER
//
///////////////////////////////////////////////////////////////

.header
    position: relative
    display: inline-flex
    font-weight: $font-weight-lightest
    font-size: $font-size-kilo
    background: rgba(255,255,255,0.95)
    margin: 0

    &__name
        font-size: $font-size-kilo
        color: $color-red
        margin: 0

    &__link
        font-size: 1.5rem
        font-weight: $font-weight-lightest
        color: $color-red
        height: 100%

    &--medium
        position: fixed
        right: 0
        left: 0
        padding: .5rem
        overflow: hidden
        transition: height 0.3s
        text-align: center
        z-index: 9999
        border-bottom: 1px solid $color-gray-lightest

    &--full
        @include flexbox
        width: 100%
        height: 100vh
        transition: all 2s ease

    &__wrapper
        display: flex
        align-items: baseline
        justify-content: space-between
        width: 100%
        max-width: 920px
        margin: 0 auto

.arrow
    a
        position: absolute
        bottom: 20px
        left: 50%
        z-index: 2
        display: inline-block
        -webkit-transform: translate(0, -50%)
        transform: translate(0, -50%)
        color: $color-gray-darkest
        font : normal 400 20px/1 'Poppins', sans-serif
        letter-spacing: .1em
        text-decoration: none
        transition: opacity .3s
        padding-top: 60px

        &:hover
            opacity: .5

        span
            position: absolute
            top: 0
            left: 50%
            width: 24px
            height: 24px
            margin-left: -12px
            border-left: 1px solid $color-gray
            border-bottom: 1px solid $color-gray
            -webkit-transform: rotate(-45deg)
            transform: rotate(-45deg)
            -webkit-animation: arrow 2s infinite
            animation: arrow 2s infinite
            box-sizing: border-box
