///////////////////////////////////////////////////////////////
//
// MAIN
//
///////////////////////////////////////////////////////////////

.main
    width: 100%

    &--full
        padding-top: 60px

    &--medium
        padding-top: 100px

    &__wrapper
        max-width: 956px
        margin:  0 auto
        padding-bottom: 3.5rem
