///////////////////////////////////////////////////////////////
//
// NAVIGATION
//
///////////////////////////////////////////////////////////////

.navigation

    &__list
        margin: 0

    &__item
        display: inline
        font-size: $font-size-mini
        font-weight: $font-weight-light
        margin: 0 .5rem

    &__link
        color: $color-gray-light
        padding: 0 0 .6rem
        border-bottom: 6px solid transparent

        &:hover
            color: $color-gray

        &--active
            font-weight: $font-weight-regular
            color: $color-gray-darkest

            &:hover
                color: $color-gray-darkest
