///////////////////////////////////////////////////////////////
//
// TYPOGRAPHY
//
///////////////////////////////////////////////////////////////

.text
    &__label
        font-size: $font-size-micro
        font-weight: $font-weight-regular
        color: $color-red
        margin: 1rem 0 .5rem
        text-transform: uppercase

        &--small
            font-size: $font-size-nano
            margin: .25rem 0 0

    &__title
        font-weight: $font-weight-regular
        color: $color-gray-darkest
        margin: 0

        &--light
            font-size: $font-size-mean
            font-weight: $font-weight-light

        &--medium
            font-weight: $font-weight-medium

    &__subtitle
        font-size: $font-size-mini
        font-weight: $font-weight-light
        color: $color-black

    &__description,
    &__list
        font-size: $font-size-mini
        font-weight: $font-weight-light
        margin-top: .5rem

    &__description
        color: $color-gray-light
        line-height: 1.5

    &__list
        color: $color-slate
        margin-bottom: .5rem
