///////////////////////////////////////////////////////////////
//
// TYPOGRAPHY
//
///////////////////////////////////////////////////////////////

.text
    &__label
        font-size: .75rem
        font-weight: 400
        color: $color-red
        margin: 1rem 0 .5rem
        text-transform: uppercase

        &--small
            font-size: .65rem
            margin: .25rem 0 0

    &__title
        font-weight:  400
        color: $color-black
        margin: 0

        &--light
            font-size: 1rem
            font-weight: 300

    &__subtitle
        font-size: .8rem
        font-weight: 300
        color: $color-black

    &__content
        font-size: .85rem
        font-weight: 300
        color: $color-gray-darkest
        margin-top: .5rem

        &--small
            font-size: .75rem
            font-weight: 300
            color: $color-gray-light
