///////////////////////////////////////////////////////////////
//
// TYPOGRAPHY - Type variables
//
///////////////////////////////////////////////////////////////

// Font weigth
$font-weight-medium:   500
$font-weight-regular:  400
$font-weight-light:    300

// Font Sizes
$font-size-nano:   .65rem
$font-size-micro:  .75rem
$font-size-mini:   .85rem
$font-size-mean:     1rem
$font-size-kilo:     2rem
$font-size-mega:     3rem
$font-size-giga:     4rem
